<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="main-content"  style="clear:both; overflow: hidden;"> 
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://im0-tub-by.yandex.net/i?id=bd5d0c4e2cef1f1471d74dcafa9b64a4&n=13" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://4.404content.com/1/A4/F7/2220500635848542028/fullsize.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>