<h1>Welcome to TestIO home page</h1>
<div class="main-content"  style="clear:both; overflow: hidden;"> 

    <p>
        The <strong> TestIO </strong> system is a professional tool for automating the testing process and processing results, 
        which is designed to solve a wide range of tasks:
    </p>
    <ul>
        <li>
            Testing, control of students 'and students' knowledge.
        </li>
        <li>
            Determination of the professional level of employees, personnel assessment (HR).
        </li>
        <li>
            Preparation for exams and certifications.
        </li>
        <li>
            Psychological testing.
        </li>
        <li>
            Organization and conduct of surveys, Olympiads, competitions.
        </li>
    </ul>   
    <h1>
        Functional features
    </h1> 
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://im0-tub-by.yandex.net/i?id=bd5d0c4e2cef1f1471d74dcafa9b64a4&n=13" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://4.404content.com/1/A4/F7/2220500635848542028/fullsize.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; float:left; margin:10px;">
        <img src="https://99px.ru/sstorage/53/2020/11/tmb_317884_505631.jpg" class="card-img-top" style="width: 18rem; height: 18rem;" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>